AVISO. FAVOR DE NO CONTESTAR O ENVIAR MENSAJES A ESTA CUENTA DE CORREO, PUES ESTE MENSAJE ES GENERADO AUTOMATICAMENTE.


La persona {{name}} con matricula {{expediente}} ha cambiado su estado de riesgo. Por favor de tomar con seriedad este
correo y proceder con los lineamientos en caso de padecer de COVID 19.



Aviso de privacidad: La información contenida en este correo electrónico es de propiedad exclusiva y confidencial.
Este mensaje es sólo para el destinatario señalado; si no es usted o su empresa, destrúyalo de inmediato.