{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script rel="script" src="{% static 'js/main.js' %}"></script>


    <title>Mandar correo</title>

</head>
<body style="background-color: #ffffff">
{% if user.is_authenticated %}
    {% if user.ocupacion ==  'A' %}
        <link rel="stylesheet" href="{% static 'css/alumno.css' %}">
        <div class="wrapper">
            <div class="sidebar">
                <h2>SRRC-19</h2>
                <ul>
                    <li><a href="{% url 'iniciopagina' %}"><i class="fas fa-home"></i>Menú inicio</a></li>
                    <li><a href="{% url 'perfilpagina' %}"><i class="fas fa-exclamation-circle"></i>Perfil</a></li>
                    <li><a href="{% url 'reportar' %}"><i class="fas fa-address-card"></i>Reportar</a></li>
                    <li><a href="{% url 'encuesta' %}"><i class="fas fa-poll-h"></i>Encuesta</a></li>
                </ul>
            </div>
            <div class="main_content">
                <div class="header">
                    <div class>
                        <form method="POST" action="{% url 'salidapagina' %}">
                            <h1>
                                Bienvendido {{ user.username }}
                                <input type="submit" value="Cerrar Sesión" class="btn btn-dark"/>
                            </h1>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <form method="POST" action="{% url 'encuestas' %}"> {% csrf_token %}
                    <div class="info">
                        <!----------------------------------------------------------------------------------------------------------------------
                       *********************************************************************************************************************-->
                        <div class="rb-box">
                            <!-- Radio Button Module -->

                            <p>1. ¿Tienes COVID-19?</p>
                            <div class="rb">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="respuesta1"
                                           value="1">
                                    <label class="form-check-label" for="respuesta1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="respuesta1"
                                           value="0">
                                    <label class="form-check-label" for="respuesta1">No</label>
                                </div>
                            </div>


                            <!-- Radio Button Module -->

                                <p>2. ¿Ha presentado síntomas de gripe en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta2"
                                               value="1">
                                        <label class="form-check-label" for="respuesta2">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta2"
                                               value="2">
                                        <label class="form-check-label" for="respuesta2">2</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta2"
                                               value="3">
                                        <label class="form-check-label" for="respuesta2">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta2"
                                               value="4">
                                        <label class="form-check-label" for="respuesta2">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta2"
                                               value="5">
                                        <label class="form-check-label" for="respuesta2">5</label>
                                    </div>
                                </div>


                                <!-- Radio Button Module -->
                                <p>3. ¿Ha presentado síntomas de fiebre en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta3"
                                               value="1">
                                        <label class="form-check-label" for="respuesta3">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta3"
                                               value="2">
                                        <label class="form-check-label" for="respuesta3">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta3"
                                               value="3">
                                        <label class="form-check-label" for="respuesta3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta3"
                                               value="4">
                                        <label class="form-check-label" for="respuesta3">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta3"
                                               value="5">
                                        <label class="form-check-label" for="respuesta3">5</label>
                                    </div>
                                </div>

                            <!-- Radio Button Module -->

                                <p>4. ¿Ha presentado síntomas de tos en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta4"
                                               value="1">
                                        <label class="form-check-label" for="respuesta4">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta4"
                                               value="2">
                                        <label class="form-check-label" for="respuesta4">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta4"
                                               value="3">
                                        <label class="form-check-label" for="respuesta4">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta4"
                                               value="4">
                                        <label class="form-check-label" for="respuesta4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta4"
                                               value="5">
                                        <label class="form-check-label" for="respuesta4">5</label>
                                    </div>
                                </div>


                                <!-- Radio Button Module -->
                                <p>5. ¿Ha presentado problemas para respirar en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta5"
                                               value="1">
                                        <label class="form-check-label" for="respuesta5">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta5"
                                               value="2">
                                        <label class="form-check-label" for="respuesta5">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta5"
                                               value="3">
                                        <label class="form-check-label" for="respuesta5">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta5"
                                               value="4">
                                        <label class="form-check-label" for="respuesta5">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta5"
                                               value="5">
                                        <label class="form-check-label" for="respuesta5">5</label>
                                    </div>
                                </div>


                                <!-- Radio Button Module -->
                                <p>6. ¿Ha presentado dolor de cabeza en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta6"
                                               value="1">
                                        <label class="form-check-label" for="respuesta6">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta6"
                                               value="2">
                                        <label class="form-check-label" for="respuesta6">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta6"
                                               value="3">
                                        <label class="form-check-label" for="respuesta6">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta6"
                                               value="4">
                                        <label class="form-check-label" for="respuesta6">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta6"
                                               value="5">
                                        <label class="form-check-label" for="respuesta6">5</label>
                                    </div>
                                </div>


                                <!-- Radio Button Module -->
                                <p>7. ¿Ha presentado dolor muscular en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta7"
                                               value="1">
                                        <label class="form-check-label" for="respuesta7">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta7"
                                               value="2">
                                        <label class="form-check-label" for="respuesta7">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta7"
                                               value="3">
                                        <label class="form-check-label" for="respuesta7">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta7"
                                               value="4">
                                        <label class="form-check-label" for="respuesta7">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta7"
                                               value="5">
                                        <label class="form-check-label" for="respuesta7">5</label>
                                    </div>
                                </div>


                                <!-- Radio Button Module -->
                                <p>8. ¿Ha presentado dolor de garganta en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name=respuesta8
                                               value="1">
                                        <label class="form-check-label" for="respuesta8">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta8"
                                               value="2">
                                        <label class="form-check-label" for="respuesta8">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta8"
                                               value="3">
                                        <label class="form-check-label" for="respuesta8">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta8"
                                               value="4">
                                        <label class="form-check-label" for="respuesta8">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta8"
                                               value="5">
                                        <label class="form-check-label" for="respuesta8">5</label>
                                    </div>
                                </div>


                                <p>9. ¿Ha presentado pérdida del olfato en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value="1">
                                        <label class="form-check-label" for="respuesta9">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value="2">
                                        <label class="form-check-label" for="respuesta9">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value="3">
                                        <label class="form-check-label" for="respuesta9">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value="4">
                                        <label class="form-check-label" for="respuesta9">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value=5>
                                        <label class="form-check-label" for="respuesta9">5</label>
                                    </div>
                                </div>

                                <p>10. ¿Ha presentado pérdida del gusto en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="1">
                                        <label class="form-check-label" for="respuesta10">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="2">
                                        <label class="form-check-label" for="respuesta10">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="3">
                                        <label class="form-check-label" for="respuesta10">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="4">
                                        <label class="form-check-label" for="respuesta10">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="5">
                                        <label class="form-check-label" for="respuesta10">5</label>
                                    </div>
                                </div>



                                <p>11. ¿Ha presentado cansancio en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta11"
                                               value="1">
                                        <label class="form-check-label" for="respuesta11">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta11"
                                               value="2">
                                        <label class="form-check-label" for="respuesta11">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta11"
                                               value="3">
                                        <label class="form-check-label" for="respuesta11">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta11"
                                               value="4">
                                        <label class="form-check-label" for="respuesta11">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta11"
                                               value="5">
                                        <label class="form-check-label" for="respuesta11">5</label>
                                    </div>
                                </div>



                                <!-- Radio Button Module -->
                                <p> 12. Aproximadamente, ¿con cuántas personas has tenido contacto fuera de la escuela
                                    en esta
                                    semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta12"

                                               value="1">
                                        <label class="form-check-label" for="respuesta12">1-5</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta12"

                                               value="2">
                                        <label class="form-check-label" for="respuesta12">6-10</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta12"

                                               value="3">
                                        <label class="form-check-label" for="respuesta12">11-20</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta12"

                                               value="4">
                                        <label class="form-check-label" for="respuesta12">21-50</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="respuesta12"

                                               value="5">
                                        <label class="form-check-label" for="respuesta12">Más de 50</label>
                                    </div>
                                </div>


                            <div class="row">
                                <p>13. ¿Sufres alguna de las siguientes enfermedades? <span class="text-muted">(Puedes marcar varias opciones)</span>
                                </p>

                            </div>

                                <div class="rb">

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="3" name="problemas">
                                        <label class="form-check-label" for="problemas">Problema cardiovascular</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="3"
                                               name="problemas">
                                        <label class="form-check-label" for="problemas">Asma</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="3"
                                               name="problemas">
                                        <label class="form-check-label" for="problemas">Cáncer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="3"
                                               name="problemas">
                                        <label class="form-check-label" for="problemas">Diabetes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="3" name="problemas">
                                        <label class="form-check-label" for="problemas">Bronquitis</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="3"
                                               name="problemas">
                                        <label class="form-check-label" for="problemas">Otro</label>
                                    </div>
                                </div>


                            <p>14. ¿Has estado en alguno de estos lugares públicos? <span class="text-muted">(Puedes marcar varias opciones)</span>
                            </p>


                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="2" name="lugares">
                                        <label class="form-check-label" for="lugares">Cine</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="2" name="lugares">
                                        <label class="form-check-label" for="lugares">Centro Comercial</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="2" name="lugares">
                                        <label class="form-check-label" for="lugares">Restaurante</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="2" name="lugares">
                                        <label class="form-check-label" for="lugares">Parque</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="5" name="lugares">
                                        <label class="form-check-label" for="lugares">Hospital</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               value="2" name="lugares">
                                        <label class="form-check-label" for="lugares">Otro</label>
                                    </div>
                                </div>


                            <!-- Button -->
                            <div class="button-box">
                                <button type="submit" class="submit-button">Mandar encuesta</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!----------------------------------------------------------------------------------------------------------------------
               *********************************************************************************************************************-->
            </div>
        </div>
        </div>
        </div>

        </body>
    {% endif %}
{% else %}
    <body>

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">¡ERROR!</div>
        <div class="card-body">
            <h5 class="card-title">NO HAS INICIADO SESIÓN</h5>
            <p class="card-text">Por favor, regresa al menú de inicio de sesión para poder usar el sistema .</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a href="{% url 'ingresarpagina' %}">Iniciar sesión...</a>
            </button>
        </div>
    </div>
    </body>
{% endif %}
<script type="text/javascript" src="{% static 'js/encuesta.js' %}"></script>
</html>

