<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" value="notranslate">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script rel="script" src="{% static 'js/administrativo.js' %}"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>Mandar correo</title>

</head>
<body style="background-color: #ffffff">
{% if user.is_authenticated %}
    {% if user.ocupacion ==  'P' %} <!-- ************************************************************************* -->
        <link rel="stylesheet" href="{% static 'css/administrativo.css' %}">
        <div class="wrapper">
            <div class="sidebar">
                <h2>SRRC-19</h2>
                <ul class="tabs">
                    <li><a href="#Inicio"><i class="fas fa-home"></i>Menú inicio</a></li>
                    <li><a href="#AlumnosLCC"><i class="fas fa-exclamation-circle"></i>Alumnos LCC</a></li>
                    <li><a href="{% url 'buscarpagina' %}"><i class="fas fa-exclamation-circle"></i>Buscar Alumno</a>
                    </li>
                </ul>
            </div>
            <div class="main_content">
                <div class="header">
                    <div class>
                        <form method="POST" action="{% url 'salidapagina' %}">
                            <h1>
                                <div class="row">
                                        <div class="col-md-8">
                                            <h1>Hay un total de {{ contagiados }} en estado de riesgo con un promedio de {{ promedio }} %</h1>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-right">
                                                <input type="submit" value="Cerrar Sesión" class="btn btn-dark"/>
                                            </div>
                                        </div>
                                </div>

                            </h1>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                 <div class="secciones">

                        <div class="info" id="Inicio">


                            <h3 class="display-3 hidden-xs-down">
                                ¡Informate sobre el Covid!
                            </h3>
                            <p style="font-size: xx-large">flknsdlkfnldsf.</p>
                            <div class ="row">

                                    <div class="col-xl-6 col-lg-6">
                                        <div class="card">
                                            <img src="https://i.blogs.es/376b75/mexico-se-pinta-de-amarillo-en-semaforo-por-covid-y-sonora-se-convierte-en-el-tercer-estado-en-semaforo-verde/840_560.jpg"
                                                 class="card-img" alt="Semaforo Sonora">
                                            <div class="card-img-overlay">
                                                <h1 class="card-title" style="color: #000000; text-align: center">Semaforo</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                         <canvas id="RiesgoCovid" width="200" height="200"></canvas>
                                      </div>

                                </div>


                            <!--/row-->

                            <hr>
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://covid19data.unison.mx/#mapa"></iframe>
                            </div>

                            <!--/row-->

                        </div>
                        <div class="info" id="AlumnosLCC">

                    <h1>Hay un total de {{ contagiados }} en estado de riesgo</h1>

                    <form action="/contactar/" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Alumno(s) en riesgo</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                   placeholder="Introduce un alumno en riesgo, se mandará un correo" name="txtMensaje">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Enviar" onclick="fireSweetAlert"/>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </form>
                    <div>
                        <div class="content">
                            {% block content %}
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Matricula</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Nombre(s)</th>
                                        <th scope="col">Estado de Riesgo</th>
                                        <th scope="col">Control</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for alumno in alumnos %}
                                        <tr>
                                            <th scope="row" style="text-align: center">{{ alumno.matricula }}</th>
                                            <th scope="row" style="text-align: center">{{ alumno.last_name }}</th>
                                            <th scope="row" style="text-align: center">{{ alumno.first_name }}</th>
                                            <th scope="row" style="text-align: center">{{ alumno.riesgo }} </th>

                                            <th scope="row">
                                                <button type="submit" value="Submit" class="btn btn-warning">REPORTAR
                                                </button>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endblock %}

                        </div>
                    </div>
                </div>

                     </div>

            </div>
        </div>
        </body>
    {% endif %}
{% else %}
    <body>

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">¡ERROR!</div>
        <div class="card-body">
            <h5 class="card-title">NO HAS INICIADO SESIÓN</h5>
            <p class="card-text">Por favor, regresa al menú de inicio de sesión para poder usar el sistema .</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a href="{% url 'ingresarpagina' %}">Iniciar sesión...</a>
            </button>
        </div>
    </div>
    </body>
{% endif %}


<!--scripts loaded here-->




<script>
    var ctx= document.getElementById("RiesgoCovid").getContext("2d");
    var Grafica= new Chart(ctx,{
        type: 'pie',
        data:{
          labels:["Riesgo Alto", "Riesgo Bajo"],
          datasets: [
              {
                data: [{{ promedio }},{{ promedio2 }}],
                backgroundColor:[
                    "#f52e2e",
                    "#44a044"
                ]
              }
          ]
        },
         options: {
             responsive: true,
             plugins: {
                 legend: {
                     position: 'bottom',
                      labels:{
                         font: {
                             size: 18
                         }
                     }
                   },
                 title: {
                     display: true,
                        text: 'RIESGO COVID-19 ALUMNOS LCC',
                        position: 'top',
                        font: {
                            size: 25
                        }

                }

             },

        }
    });
</script>

</html>