{# Persopnalizar pantalla dependiendo del semaforo actual#}
{# Cambiar imagen del semaforo actual #}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" >

     <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script rel="script" src="{% static 'js/main.js' %}"></script>
     <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <title>Soy Alumno</title>

</head>
<body style="background-color: #ffffff">
{% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/alumno.css' %}">
            <div class="wrapper">
                <div class="sidebar">
                    <h2>SRRC-19</h2>
                    <ul class="tabs">
                        <li><a href="#Inicio"><i class="fas fa-home"></i>Menú inicio</a></li>
                        <li><a href="#Perfil"><i class="fas fa-exclamation-circle"></i>Perfil</a></li>
                        <li><a href="#Encuesta"><i class="fas fa-poll-h"></i>Encuesta</a></li>
                    </ul>
                </div>

                <div class="main_content">
                    <div class="header">
                        <div class>
                            <form method="POST" action="{% url 'salidapagina' %}">
                                <h1>

                                    <div class="row">
                                        <div class="col-md-8">Bienvenido {{ user.username }}. En el edificio, hay un promedio total de {{ promedio }}%

                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-right">
                                                <input type="submit" value="Cerrar Sesión" class="btn btn-dark"/>
                                            </div>
                                        </div>
                                    </div>

                                </h1>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                    {#//////////////////////////      SECCIONES DE LAS TABS /////////////             #}
                    <div class="secciones">

                        <div class="info" id="Inicio">


                            <h3 class="display-3 hidden-xs-down">
                                ¡Informate sobre el Covid!
                            </h3>
                            <p style="font-size: xx-large">Como alumnos de la Universidad de Sonora es nuestra responsabilidad seguir
                                con los lineamientos establecidos por el plantel.</p>
                            <div class ="row">
                                <div class="col-xl-6 col-lg-6">
                                        <div class="card card-inverse card-success">
                                            <div class="card-block bg-success">
                                                <div class="rotate">
                                                    <i class="fa fa-list fa-4x"></i>
                                                </div>
                                                 <div class="card-body">
                                                    <h4 class="card-title" style="font-size: xx-large">¡Juntos logramos el cambio!</h4>
                                                     <p style="font-size: xx-large">No olvides llenar la encuesta semanal sobre la prevencion del covid.</p>
                                                 </div>
                                            </div>
                                        </div>

                                        <div class="card card-inverse card-success">
                                            <div class="card-block bg-success">
                                                <div class="rotate">
                                                    <i class="fa fa-user fa-5x"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title" style="font-size: xx-large">Sigue los lineamientos de seguridad</h4>
                                                    <p style="font-size: xx-large">Sigamos haciendo un buen trabajo aplicando los lineamientos de seguridad:</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xl-6 col-lg-6">
                                        <div class="card">
                                            <img src="https://i.blogs.es/376b75/mexico-se-pinta-de-amarillo-en-semaforo-por-covid-y-sonora-se-convierte-en-el-tercer-estado-en-semaforo-verde/840_560.jpg"
                                                 class="card-img" alt="Semaforo Sonora">
                                            <div class="card-img-overlay">
                                                <h1 class="card-title" style="color: #000000; text-align: center">Semaforo</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            <!--/row-->

                            <hr>

                            <div class="row placeholders mb-3">
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="https://cdn.pixabay.com/photo/2020/07/01/00/13/tapaboca-5357968_960_720.jpg"
                                         class="center-block img-fluid rounded-circle" style="border:10px solid #13ec0c" alt="">
                                    <h4>Cubrebocas</h4>
                                    <span class="text-muted">Asegurate de utilizar cubrebocas en todo momento</span>
                                </div>
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="https://cdn.pixabay.com/photo/2020/03/24/03/41/meter-4962678_960_720.png"
                                         class="center-block img-fluid rounded-circle" style="border:10px solid #13ec0c" alt="">
                                    <h4>Distancia</h4>
                                    <span class="text-muted">Manten una distancia entre 1.8 y 2 mtrs</span>
                                </div>
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="https://cdn.pixabay.com/photo/2020/05/26/10/10/covid-19-5222539_960_720.png"
                                         class="center-block img-fluid rounded-circle" style="border:10px solid #13ec0c" alt="">
                                    <h4>Sanitiza tus manos</h4>
                                    <span class="text-muted">Utiliza sanitizante, cada salon debe contar con un dispensador</span>
                                </div>
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="https://cdn.pixabay.com/photo/2012/04/26/13/58/sign-42530_960_720.png"
                                         class="center-block img-fluid rounded-circle" style="border:10px solid #13ec0c" alt="Generic placeholder thumbnail">
                                    <h4>Evita las aglomeraciones</h4>
                                    <span class="text-muted">Mantente dentro de las áreas asignadas y evita la aglomeración de gente</span>
                                </div>
                            </div>
                            <hr>
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://covid19data.unison.mx/#mapa"></iframe>
                            </div>

                            <!--/row-->

                        </div>

                        <div class="info" id="Perfil">

                    <div>
                        <div class="main-body">

                            <!-- /Breadcrumb -->

                            <div class="row gutters-sm">
                                <div class="col-md-4 mb-3">
                                    <div class="card" style="background-color: #fcfbfb">
                                        <div class="card-body" >
                                            <div class="d-flex flex-column align-items-center text-center" >
                                                <img src="https://buhos.uson.mx/portalalumnos/obtener/fotoAlumno?expediente={{ user.matricula }}"
                                                     alt="Admin"
                                                     style="border-radius: 50%" width="200">
                                                <div class="mt-3">
                                                    <h4></h4>
                                                    {% if user.riesgo == "V" %}
                                                        <p class="text-secondary mb-1"> Estado de Riesgo: Verde</p>
                                                    {% endif %}
                                                    {% if user.riesgo == "A" %}
                                                        <p class="text-secondary mb-1"> Estado de Riesgo: Amarillo</p>
                                                    {% endif %}
                                                    {% if user.riesgo == "N" %}
                                                        <p class="text-secondary mb-1"> Estado de Riesgo: Naranja</p>
                                                    {% endif %}
                                                    {% if user.riesgo == "R" %}
                                                        <p class="text-secondary mb-1"> Estado de Riesgo: Rojo</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Nombre(s)</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ user.first_name }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Apellidos</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ user.last_name }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Correo</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ user.email }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Matricula</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ user.matricula }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters-sm">
                                        <div class="col-sm-6 mb-3">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <h6 class="d-flex align-items-center mb-3"><i
                                                            class="material-icons text-info mr-2">assignment</i>Project
                                                        Status</h6>
                                                    <small>Web Design</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 80%"
                                                             aria-valuenow="80" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>Website Markup</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 72%"
                                                             aria-valuenow="72" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>One Page</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 89%"
                                                             aria-valuenow="89" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>Mobile Template</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 55%"
                                                             aria-valuenow="55" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>Backend API</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 66%"
                                                             aria-valuenow="66" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <h6 class="d-flex align-items-center mb-3"><i
                                                            class="material-icons text-info mr-2">assignment</i>Project
                                                        Status</h6>
                                                    <small>Web Design</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 80%"
                                                             aria-valuenow="80" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>Website Markup</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 72%"
                                                             aria-valuenow="72" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>One Page</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 89%"
                                                             aria-valuenow="89" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>Mobile Template</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 55%"
                                                             aria-valuenow="55" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <small>Backend API</small>
                                                    <div class="progress mb-3" style="height: 5px">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 66%"
                                                             aria-valuenow="66" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                        <div class="info" id="Encuesta" >
                            <form method="POST" action="{% url 'encuestas' %}"> {% csrf_token %}

                        <!----------------------------------------------------------------------------------------------------------------------
                       *********************************************************************************************************************-->
                        <div class="rb-box">
                            <!-- Radio Button Module -->

                            <p>1. ¿Tienes COVID-19?</p>
                            <div class="rb">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="respuesta1">Si
                                        <input class="form-check-input" type="radio" name="respuesta1"
                                               value="1">
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="respuesta1">No
                                        <input class="form-check-input" type="radio" name="respuesta1"
                                               value="0">
                                    </label>
                                </div>

                            </div>


                            <!-- Radio Button Module -->

                                <p>2. ¿Ha presentado síntomas de gripe en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta2">1
                                            <input class="form-check-input" type="radio" name="respuesta2"
                                                   value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                         <label class="form-check-label" for="respuesta2">2
                                            <input class="form-check-input" type="radio" name="respuesta2"
                                                   value="2">

                                       </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta2">3
                                            <input class="form-check-input" type="radio" name="respuesta2"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta2">4
                                            <input class="form-check-input" type="radio" name="respuesta2"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta2">5
                                            <input class="form-check-input" type="radio" name="respuesta2"
                                               value="5">
                                        </label>
                                    </div>

                                </div>


                                <!-- Radio Button Module -->
                                <p>3. ¿Ha presentado síntomas de fiebre en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta3">1
                                             <input class="form-check-input" type="radio" name="respuesta3"
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta3">2
                                            <input class="form-check-input" type="radio" name="respuesta3"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta3">3
                                            <input class="form-check-input" type="radio" name="respuesta3"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta3">4
                                            <input class="form-check-input" type="radio" name="respuesta3"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                         <label class="form-check-label" for="respuesta3">5
                                        <input class="form-check-input" type="radio" name="respuesta3"
                                               value="5">
                                       </label>
                                    </div>

                                </div>

                            <!-- Radio Button Module -->

                                <p>4. ¿Ha presentado síntomas de tos en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta4">1
                                        <input class="form-check-input" type="radio" name="respuesta4"
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta4">2
                                        <input class="form-check-input" type="radio" name="respuesta4"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta4">3
                                            <input class="form-check-input" type="radio" name="respuesta4"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta4">4
                                            <input class="form-check-input" type="radio" name="respuesta4"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta4">5
                                             <input class="form-check-input" type="radio" name="respuesta4"
                                               value="5">
                                        </label>
                                    </div>

                                </div>


                                <!-- Radio Button Module -->
                                <p>5. ¿Ha presentado problemas para respirar en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                       <label class="form-check-label" for="respuesta5">1
                                        <input class="form-check-input" type="radio" name="respuesta5"
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta5">2
                                            <input class="form-check-input" type="radio" name="respuesta5"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta5">3
                                            <input class="form-check-input" type="radio" name="respuesta5"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta5">4
                                            <input class="form-check-input" type="radio" name="respuesta5"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta5">5
                                            <input class="form-check-input" type="radio" name="respuesta5"
                                               value="5">
                                        </label>
                                    </div>

                                </div>


                                <!-- Radio Button Module -->
                                <p>6. ¿Ha presentado dolor de cabeza en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                         <label class="form-check-label" for="respuesta6">1
                                        <input class="form-check-input" type="radio" name="respuesta6"
                                               value="1">
                                       </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta6">2
                                            <input class="form-check-input" type="radio" name="respuesta6"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                         <label class="form-check-label" for="respuesta6">3
                                        <input class="form-check-input" type="radio" name="respuesta6"
                                               value="3">
                                       </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta6">4
                                            <input class="form-check-input" type="radio" name="respuesta6"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta6">5
                                            <input class="form-check-input" type="radio" name="respuesta6"
                                               value="5">
                                        </label>
                                    </div>

                                </div>


                                <!-- Radio Button Module -->
                                <p>7. ¿Ha presentado dolor muscular en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta7">1
                                        <input class="form-check-input" type="radio" name="respuesta7"
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta7">2
                                            <input class="form-check-input" type="radio" name="respuesta7"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta7">3
                                        <input class="form-check-input" type="radio" name="respuesta7"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta7">4
                                            <input class="form-check-input" type="radio" name="respuesta7"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta7">5
                                            <input class="form-check-input" type="radio" name="respuesta7"
                                                value="5">
                                        </label>
                                    </div>

                                </div>


                                <!-- Radio Button Module -->
                                <p>8. ¿Ha presentado dolor de garganta en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta8">1
                                        <input class="form-check-input" type="radio" name=respuesta8
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta8">2
                                        <input class="form-check-input" type="radio" name="respuesta8"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta8">3
                                        <input class="form-check-input" type="radio" name="respuesta8"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta8">4
                                            <input class="form-check-input" type="radio" name="respuesta8"
                                               value="4">
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta8">5
                                            <input class="form-check-input" type="radio" name="respuesta8"
                                               value="5">
                                        </label>
                                    </div>

                                </div>


                                <p>9. ¿Ha presentado pérdida del olfato en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                         <label class="form-check-label" for="respuesta9">1
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value="1">
                                       </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta9">2
                                            <input class="form-check-input" type="radio" name="respuesta9"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta9">3
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta9">4
                                            <input class="form-check-input" type="radio" name="respuesta9"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta9">5
                                        <input class="form-check-input" type="radio" name="respuesta9"
                                               value=5>
                                        </label>
                                    </div>

                                </div>

                                <p>10. ¿Ha presentado pérdida del gusto en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta10">1
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta10">2
                                            <input class="form-check-input" type="radio" name="respuesta10"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta10">3
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta10">4
                                            <input class="form-check-input" type="radio" name="respuesta10"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta10">5
                                        <input class="form-check-input" type="radio" name="respuesta10"
                                               value="5">
                                        </label>
                                    </div>

                                </div>



                                <p>11. ¿Ha presentado cansancio en la última semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta11">1
                                            <input class="form-check-input" type="radio" name="respuesta11"
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta11">2
                                            <input class="form-check-input" type="radio" name="respuesta11"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta11">3
                                            <input class="form-check-input" type="radio" name="respuesta11"
                                               value="3">
                                        </label>

                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta11">4
                                            <input class="form-check-input" type="radio" name="respuesta11"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta11">5
                                            <input class="form-check-input" type="radio" name="respuesta11"
                                               value="5">
                                        </label>
                                    </div>

                                </div>



                                <!-- Radio Button Module -->
                                <p> 12. Aproximadamente, ¿con cuántas personas has tenido contacto fuera de la escuela
                                    en esta
                                    semana?</p>
                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta12">1-5
                                            <input class="form-check-input" type="radio" name="respuesta12"
                                               value="1">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta12">6-10
                                            <input class="form-check-input" type="radio" name="respuesta12"
                                               value="2">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta12">11-20
                                            <input class="form-check-input" type="radio" name="respuesta12"
                                               value="3">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta12">21-50
                                            <input class="form-check-input" type="radio" name="respuesta12"
                                               value="4">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="respuesta12">Más de 50
                                            <input class="form-check-input" type="radio" name="respuesta12"
                                               value="5">
                                        </label>
                                    </div>

                                </div>


                            <div class="row">
                                <p>13. ¿Sufres alguna de las siguientes enfermedades? <span class="text-muted">(Puedes marcar varias opciones)</span>
                                </p>

                            </div>

                                <div class="rb">

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="cardiovascular">Problema cardiovascular
                                            <input class="form-check-input" type="checkbox" value="1"
                                               name="cardiovascular">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="asma">Asma
                                            <input class="form-check-input" type="checkbox" value="1"
                                               name="asma">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="cancer">Cáncer
                                            <input class="form-check-input" type="checkbox" value="1"
                                               name="cancer">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="diabetes">Diabetes
                                            <input class="form-check-input" type="checkbox" value="1"
                                               name="diabetes">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="bronquitis">Bronquitis
                                            <input class="form-check-input" type="checkbox"
                                               value="1" name="bronquitis">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="otro1">Otro
                                            <input class="form-check-input" type="checkbox" value="1"
                                               name="otro1">
                                        </label>
                                    </div>

                                </div>


                            <p>14. ¿Has estado en alguno de estos lugares públicos? <span class="text-muted">(Puedes marcar varias opciones)</span>
                            </p>


                                <div class="rb">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="cine">Cine
                                        <input class="form-check-input" type="checkbox"
                                               value="1" name="cine">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="centro">Centro Comercial
                                        <input class="form-check-input" type="checkbox"
                                               value="1" name="centro">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="restaurante">Restaurante
                                        <input class="form-check-input" type="checkbox"
                                               value="1" name="restaurante">
                                       </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                       <label class="form-check-label" for="parque">Parque
                                        <input class="form-check-input" type="checkbox"
                                               value="1" name="parque">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="hospital">Hospital
                                        <input class="form-check-input" type="checkbox"
                                               value="1" name="hospital">
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="otro2">Otro
                                        <input class="form-check-input" type="checkbox"
                                               value="1" name="otro2">
                                       </label>
                                    </div>

                                </div>


                            <!-- Button -->
                            <div class="button-box">
                                <button type="submit" class="submit-button">Mandar encuesta</button>
                            </div>

                        </div>

                </form>
 <!----------------------------------------------------------------------------------------------------------------------


*********************************************************************************************************************-->
 <!----------------------------------------------------------------------------------------------------------------------
*********************************************************************************************************************-->
</div>
                </div>

                     </div>
                    </div>



    </body>
{% else %}
    <body>

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">¡ERROR!</div>
        <div class="card-body">
            <h5 class="card-title">NO HAS INICIADO SESIÓN</h5>
            <p class="card-text">Por favor, regresa al menú de inicio de sesión para poder usar el sistema .</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a href="{% url 'ingresarpagina' %}">Iniciar sesión...</a>
            </button>
        </div>
    </div>
    </body>
{% endif %}
</html>