<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="/images/cp_ico.png">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <meta charset="UTF-8">
    <title>Mandar correo</title>

</head>
<body style="background-color: #ffffff">
{% if user.is_authenticated %}
    {% if user.ocupacion ==  'P' %} <!-- ************************************************************************* -->
        <link rel="stylesheet" href="{% static 'css/docente.css' %}">
        <div class="wrapper">
            <div class="sidebar">
                <h2>SRRC-19</h2>
                <ul>
                    <li><a href="{% url 'inicioPpagina' %}"><i class="fas fa-home"></i>Menú inicio</a></li>
                    <li><a href="{% url 'perfilpagina' %}"><i class="fas fa-exclamation-circle"></i>Perfil</a></li>
                    <li><a href="{% url 'buscarpagina' %}"><i class="fas fa-exclamation-circle"></i>Buscar Alumno</a>
                    </li>
                </ul>
            </div>
            <div class="main_content">
                <div class="header">
                    <div class>
                        <form method="POST" action="{% url 'salidapagina' %}">
                            <h1>
                                Bienvendido {{ user.username }}
                                <input type="submit" value="Cerrar Sesión" class="btn btn-dark"/>
                            </h1>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="info">
                    <h1>Hay un total de {{ contagiados }} en estado de riesgo</h1>

                    <form action="/contactar/" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Alumno(s) en riesgo</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                   placeholder="Introduce un alumno en riesgo, se mandará un correo" name="txtMensaje">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Enviar" onclick="fireSweetAlert"/>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </form>
                    <div>
                        <div class="content">
                            {% block content %}
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Matricula</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Nombre(s)</th>
                                        <th scope="col">Estado de Riesgo</th>
                                        <th scope="col">Control</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for alumno in alumnos %}
                                        <tr>
                                            <th scope="row" style="text-align: center">{{ alumno.matricula }}</th>
                                            <th scope="row" style="text-align: center">{{ alumno.last_name }}</th>
                                            <th scope="row" style="text-align: center">{{ alumno.first_name }}</th>
                                            <th scope="row" style="text-align: center">{{ alumno.riesgo }} </th>

                                            <th scope="row">
                                                <button type="submit" value="Submit" class="btn btn-warning">REPORTAR
                                                </button>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
    {% endif %}
{% else %}
    <body>

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">¡ERROR!</div>
        <div class="card-body">
            <h5 class="card-title">NO HAS INICIADO SESIÓN</h5>
            <p class="card-text">Por favor, regresa al menú de inicio de sesión para poder usar el sistema .</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a href="{% url 'ingresarpagina' %}">Iniciar sesión...</a>
            </button>
        </div>
    </div>
    </body>
{% endif %}
<script rel="script" src="{% static 'js/main.js' %}"></script>
<script>
    // sandbox disable popups
    if (window.self !== window.top && window.name != "view1") {
        window.alert = function () {
            /*disable alert*/
        };
        window.confirm = function () {
            /*disable confirm*/
        };
        window.prompt = function () {
            /*disable prompt*/
        };
        window.open = function () {
            /*disable open*/
        };
    }

    // prevent href=# click jump
    document.addEventListener(
        "DOMContentLoaded",
        function () {
            var links = document.getElementsByTagName("A");
            for (var i = 0; i < links.length; i++) {
                if (links[i].href.indexOf("#") != -1) {
                    links[i].addEventListener("click", function (e) {
                        console.debug("prevent href=# click");
                        if (this.hash) {
                            if (this.hash == "#") {
                                e.preventDefault();
                                return false;
                            } else {
                                /*
                                    var el = document.getElementById(this.hash.replace(/#/, ""));
                                    if (el) {
                                      el.scrollIntoView(true);
                                    }
                                    */
                            }
                        }
                        return false;
                    });
                }
            }
        },
        false
    );
</script>

<!--scripts loaded here-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        $("[data-toggle=offcanvas]").click(function () {
            $(".row-offcanvas").toggleClass("active");
        });
    });
</script>

</html>