{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <title>Perfil</title>
</head>
<body style="background-color: #eaeaea">

{% if user.is_authenticated %}
    {% if user.ocupacion ==  'D' %}
        {% if alumno %}
            <link rel="stylesheet" href="{% static 'css/docente.css' %}">
            <div class="wrapper">
                <div class="sidebar">
                    <h2>SRRC-19</h2>
                    <ul>
                        <li><a href="{% url 'inicioDpagina' %}"><i class="fas fa-home"></i>Menú inicio</a></li>
                        <li><a href="{% url 'perfilpagina' %}"><i class="fas fa-exclamation-circle"></i>Perfil</a></li>
                        <li><a href="{% url 'buscarpagina' %}"><i class="fas fa-exclamation-circle"></i>Buscar
                            Alumno</a></li>
                    </ul>
                </div>
                {% for a in alumno %}
                    <div class="main_content">
                        <div class="header">
                            <div class>
                                <form method="POST" action="{% url 'salidapagina' %}">
                                    <h1>
                                        Bienvendido {{ a.username }}
                                        <input type="submit" value="Cerrar Sesión" class="btn btn-dark"/>
                                    </h1>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>
                        <div class="info">

                            <div>
                                <div class="main-body">

                                    <!-- /Breadcrumb -->

                                    <div class="row gutters-sm">
                                        <div class="col-md-4 mb-3">
                                            <div class="card" style="background-color: #fcfbfb">
                                                <div class="card-body">
                                                    <div class="d-flex flex-column align-items-center text-center">
                                                        <img src="https://buhos.uson.mx/portalalumnos/obtener/fotoAlumno?expediente={{ a.matricula }}"
                                                             alt="Admin"
                                                             style="border-radius: 50%" width="200">
                                                        <div class="mt-3">
                                                            <h4></h4>
                                                            {% if a.riesgo == "V" %}
                                                                <p class="text-secondary mb-1"> Estado de Riesgo:
                                                                    Verde</p>
                                                            {% endif %}
                                                            {% if a.riesgo == "A" %}
                                                                <p class="text-secondary mb-1"> Estado de Riesgo:
                                                                    Amarillo</p>
                                                            {% endif %}
                                                            {% if a.riesgo == "N" %}
                                                                <p class="text-secondary mb-1"> Estado de Riesgo:
                                                                    Naranja</p>
                                                            {% endif %}
                                                            {% if a.riesgo == "R" %}
                                                                <p class="text-secondary mb-1"> Estado de Riesgo:
                                                                    Rojo</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row gutter-sm">
                                                <link rel="stylesheet"
                                                      href="{% static 'css/reportar.css' %}">
                                                <div class="col-md-16 mb-9">
                                                    <div class="card-body">

                                                        <div class="container">


                                                            <h4 class="d-flex align-items-center mb-3">Reportar
                                                                Alumno</h4>
                                                            <form method="POST" action="{% url 'reporte' %}">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <div class="col-sm-9 text-secondary">

                                                                        <label for="matricula">
                                                                            <input
                                                                                    id="matricula"
                                                                                    name="matricula"
                                                                                    value="{{ a.matricula }}"
                                                                                    type="number"
                                                                                    style="display: contents">
                                                                        </label>
                                                                    </div>
                                                                    <p>
                                                                        ¿Cuales han sido los lineamientos no
                                                                        cumplidos?
                                                                        <span class="clue">(Marcar al menos uno)</span>
                                                                    </p>


                                                                    <input type="hidden" name="respuesta1"
                                                                           value="0"/>
                                                                    <label>
                                                                        <input type="checkbox" name="respuesta1"
                                                                               value="1" class="input-checkbox"/>
                                                                        No trae cubrebocas
                                                                    </label>
                                                                    <br>

                                                                    <input type="hidden" name="respuesta2"
                                                                           value="0"/>
                                                                    <label>
                                                                        <input type="checkbox" name="respuesta2"
                                                                               value="1" class="input-checkbox"/>
                                                                        No usó gel sanitizante
                                                                    </label>
                                                                    <br>

                                                                    <input type="hidden" name="respuesta3"
                                                                           value="0"/>
                                                                    <label>
                                                                        <input type="checkbox" name="respuesta3"
                                                                               value="1" class="input-checkbox"/>
                                                                        Entró al departamento aún estando el aforo
                                                                        en
                                                                        su máximo punto
                                                                    </label>
                                                                    <br>

                                                                    <input type="hidden" name="respuesta4"
                                                                           value="0"/>
                                                                    <label>
                                                                        <input type="checkbox" name="respuesta4"
                                                                               value="1" class="input-checkbox"/>
                                                                        No respetó la sana distancia
                                                                    </label>
                                                                    <br>

                                                                    <input type="hidden" name="respuesta5"
                                                                           value="0"/>
                                                                    <label>
                                                                        <input type="checkbox" name="respuesta5"
                                                                               value="1" class="input-checkbox"/>
                                                                        No realizó su encuesta semanal
                                                                    </label>
                                                                    <br>

                                                                    <input type="hidden" name="respuesta6"
                                                                           value="0"/>
                                                                    <label>
                                                                        <input type="checkbox" name="respuesta6"
                                                                               value="1" class="input-checkbox"/>
                                                                        Sigue visitando el campús apesar de que ya
                                                                        se
                                                                        le avisó su estado de riesgo
                                                                    </label>
                                                                    <br>

                                                                    <input type="hidden" name="respuesta7"
                                                                           value="0"/>
                                                                    <label>
                                                                        <input type="checkbox" name="respuesta7"
                                                                               value="1" class="input-checkbox"/>
                                                                        Vino días seguidos
                                                                    </label>

                                                                    <br>
                                                                    <div class="form-group">
                                                                        <p>¿Tienes más opciones?</p>
                                                                        <label for="comments"><textarea
                                                                                id="comments"
                                                                                class="input-textarea"
                                                                                name="comment"
                                                                                placeholder="Ingresa tus comentarios aquí..."
                                                                        ></textarea>
                                                                        </label>
                                                                    </div>

                                                                    <div class="form-group">

                                                                        <div class="form-group">
                                                                            <input type="submit" id="submit"
                                                                                   class="submit-button"
                                                                                   onclick="completado()">
                                                                            Enviar reporte
                                                                        </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Nombre(s)</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ a.first_name }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Apellidos</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ a.last_name }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Correo</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ a.email }}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Matricula</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    {{ a.matricula }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutter-sm">
                                        <div class="col-sm-6 mb-3">

                                        </div>
                                    </div>

                                    <div class="col-sm-12 mb-3">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h2> Reportes </h2>
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">MATRICULA</th>
                                                        <th scope="col" style="text-align: center">FECHA</th>
                                                        <th scope="col">CUBREBOCAS</th>
                                                        <th scope="col">SANITIZANTE</th>
                                                        <th scope="col">COMENTARIOS</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for foo in reporte %}

                                                        <tr>
                                                            <th scope="row"
                                                                style="text-align: center">{{ foo.matricula_reportado }}</th>
                                                            <th scope="row"
                                                                style="text-align: center">{{ foo.hora }}</th>
                                                            <th scope="row"
                                                                style="text-align: center">{{ foo.NoCubrebocas }}</th>
                                                            <th scope="row"
                                                                style="text-align: center">{{ foo.GelSanitizante }}</th>
                                                            <th scope="row"
                                                                style="text-align: center">{{ foo.Comentarios }} </th>

                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </body>
        {% else %}
            <h1>Alumno no encontrado</h1>
        {% endif %}
    {% endif %}
{% else %}
    <body>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">¡ERROR!</div>
        <div class="card-body">
            <h5 class="card-title">NO HAS INICIADO SESIÓN</h5>
            <p class="card-text">Por favor, regresa al menú de inicio de sesión para poder usar el sistema .</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <a href="{% url 'ingresarpagina' %}">Iniciar sesión...</a>
            </button>
        </div>
    </div>
{% endif %}
</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{% static 'js/reportar.js' %}"></script>

</html>