body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;


    background: linear-gradient(to right, #f26deb, #6DB3F2);
}

.card {
    margin-bottom: 20px;
    border: none;


}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 60%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
	background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
	background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
}
html,

		body {

			background:  linear-gradient(to right, #bd193c, #0084ff);

		}

		#covid-19 {
			width: 220px;
			height: 220px;
			animation-name: float;
			animation-duration: 1s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		.shadow {
			width: 100px;
		  	height: 10px;
			position: relative;
    		left: 39%;
			background: #3e1917;
		  	border-radius: 70%;
		  	opacity: 1;
		  	filter: blur(3px);
		  	animation-name: animate-shadow;
			animation-duration: 1s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		g.evelope {
			animation-name: rotate;
			transform-origin: 100px 105px;
			animation-duration: 2s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		ellipse.left-eyeball,
		ellipse.right-eyeball {
			animation-name: moveEyeBalls;
			transform-origin: 50% 50%;
			animation-duration: 3s;
			animation-direction: normal;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		.left-eyebrows,
		.right-eyebrows {
			animation-name: moveEyebrows;
			transform-origin: 50% 50%;
			animation-duration: 1s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		.mouth {
			animation-name: moveMouth;
			transform-origin: 50% 50%;
			animation-duration: 2s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		@keyframes moveMouth {

			0% {
				transform: rotate(0deg);
			} 100% {
				transform: rotate(12deg);
			}

		}

		@keyframes moveEyebrows {

			0% {
				transform: translateY(0px);
			} 100% {
				transform: translateY(-1px);
			}

		}

		@keyframes moveEyeBalls {

			0% {
				transform: translateX(0px);
			} 25% {
				transform: translateX(2px);
			} 50%{
				transform: translateX(-2px);
			} 75%{
				transform: translateX(-2px);
			} 100% {
				transform: translateX(0px);
			}

		}

		@keyframes float {

			0% {
				transform: translateY(0px);
			} 100% {
				transform: translateY(20px);
			}
		}

		@keyframes animate-shadow {

			0% {
				transform: scale(1);
			} 100% {
				transform: scale(1.2);
			}
		}

		@keyframes rotate {

			0% {
				transform: rotate(0deg);
			} 50% {
				transform: rotate(4deg);
			} 100% {
				transform: rotate(0deg);
			}

		}